.dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    z-index: 100;
}

.dialog {
    position: fixed;
    color: black;
    background-color: white;
    padding: 4px;
    min-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 101;
}

.dialog-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-bottomLeft {
    bottom: 0;
    left: 0;
}

.dialog-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dialog-bottomRight {
    bottom: 0;
    right: 0;
}

.dialog hr {
    border-color: rgba(255, 255, 255, 0.3);
}

.dialogTitle {
    font-weight: bold;
    margin: 0;
    padding: 3px 10px;
    background-image: linear-gradient(rgb(240, 240, 240), rgb(200, 200, 200));
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.dialogBody {
    margin: 20px 5px;
}

.dialogButtons {
    display: flex;
    flex-direction: row-reverse;
}

.dialogButton {
    font-size: 22px;
    padding: 5px 15px;
    margin: 5px 10px;
}
